* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.rating {
  position: relative;
  width: 180px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 2px #b3acac;
}
.rating__result{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px)translateX(-5px);
    z-index: -9;
    font: 3em arial;
    color:#ebebeb8e;
    pointer-events: none;

}
.rating__star{
    font-size: 1.3em;
    cursor: pointer;
    color:#dabd18b2;
    transition: filter linear .3s;
}
